<table class="table table-striped">
    <thead>
        <tr>
            <th>Application No</th>
            <th>First Name</th>
            <th>Surname Name</th>
            <th>Full Name</th>

        </tr>
    </thead>
    <tbody>
           <tr *ngFor="let application of applicants">
                <td>{{application.applicationNo}}</td>
                <td>{{application.FirstName}}</td>
                <td>{{application.SurnameName}}</td>
                <td>{{application.FullName}}</td>
                

            <td>

                <button
                type="button" class="btn btn-light mr-1"
                mat-button color="primary" style="color: #fff; background-color: blue;"  mat-raised-button (click)="updateClick()">Update</button>
             
                <button type="button" class="btn btn-light mr-1"
                (click)="deleteClick(application)" style="color: #fff; background-color: #f10808;"
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
