<table class="table table-striped">
    <thead>
        <tr>
            <th>Application No</th>
            <th>First Name</th>
            <th>Surname Name</th>
            <th>Full Name</th>

        </tr>
    </thead>
    <tbody>
           <tr *ngFor="let application of applicants">
                <td>{{application.applicationNo}}</td>
                <td>{{application.FirstName}}</td>
                <td>{{application.SurnameName}}</td>
                <td>{{application.FullName}}</td>
                

            <td>
            <button type="button" class="btn btn-light mr-1"
            data-toggle="modal" data-target="#exampleModal"
        (click)="updateClick()"
        data-backdrop="static" data-keyboard="false"
                    >
                    Update
                </button>
                <button type="button" class="btn btn-light mr-1"
                (click)="deleteClick(application)"
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
